/*	TODO: Supprimer et marquer comme résulue en ligne devant la question (à faire dans le HTML)
	TODO: Changer la grosseur de la police des questions écrites	*/

	body
	{
	background-image:url('bkg.jpg');
	#background-color:#336600;
	}
	
	
	h1
	{
	color:black;
	text-align:center;
	font-family:"Comic Sans";
	font-size:40px
	}
	
	h2
	{
	font-family:"Comic Sans";
	font-size:26px;
	}
	
	a
	{
	color:white;
	font-size:18px;	
	}
